@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');

* {
    font-family: 'M PLUS 1p', sans-serif;
}

.mytitle {
    color: white;
    margin-top: 0px;

    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), url("https://www.lovelive-anime.jp/yuigaoka/img/clear.jpg?230305");
    background-position: bottom;
    background-size: cover;

}

.linkbutton {
    margin-bottom: 20px;
}

.tuittaaikon {
    width: 25px;
    height: 25px;
    color: white;
    text-decoration: underline;
}

.SearchBox {
    align-items: center;
}

.mypost {
    align-items: center;
    width: 300px;
    background-color: white;
}

.zabokkusu {
    width: 100%;
    margin-inline-start: 30px;
    margin-inline-end: 30px;
}

.taitorubun {
    margin-top: 150px;
    text-align: center;
    margin-top: 600px;
}

.kensakubunshou {
    align-items: center;
}

.tuirinku {
    font-size: 20px;
    border-bottom: white 2px;
}

.input-group {
    margin-top: 20px;
}

.mytitle > button {
    width: 150px;
    height: 50px;

    background-color: transparent;

    border: 2px solid white;
    color: white;

    margin-top: 20px;
}

.haikei {
    background-color: #f8f7ff;
}

.mytitle > button:hover {
    border: 3px solid white;
    background-color: #2f99ff;
    color: black;

}

.mypost {
    width: 500px;
    margin: 20px auto 20px auto;
    padding: 20px 20px 20px 20px;

    box-shadow: 0px 0px 3px 0px gray;
}

.form-control {
    height: 10px;
    margin-top: 00px;
}

.mycards {
    margin-bottom: 50px;
}

.col {
    margin: 0px 5% 0px 5%;
    background-color: #fff;
    border: 1.25px solid rgba(0, 0, 0, 0.15);
}

p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 1px;
    margin-inline-end: 1px;
    line-height: 35px;
    font-size: 18px;
}

.kadonaiyo {
    margin-bottom: 0px;
}

.accordion-button.collapsed::after {
    fixed-right;
}

.accordion-button:not(.collapsed) {
    color: #2a2a2a;
    background-color: #ded1ff;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
}

.imageof1 {
    width: 80%;
    position: center;
}

.hareruyarink {
    color: #333333;
}

.hareruyarink:hover {
    color: #ff9f44;
}

a {
    text-decoration-line: none;
    color: #ffffff;
}

a:hover {
    text-decoration-line: none !important;
    color: #e1e1e1;
}

.input-group-text {
    color: #000000;
    background-color: #c5c5c5;
    border-color: #333333;
}

.form-select {
    color: #000000;
    background-color: #ffffff;
}
